:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#botaolista {
  background-color: #4d8eff73; 
  margin: 7px 3px;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}
