<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Vídeos</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <div class="video-grid">
    <ion-item *ngFor="let video of videos; let i = index">
      <span>
        <p>{{ video.titulo }}</p>
          <ion-buttons slot="end">
            <ion-button id="botaolista" routerLink="descricao/{{ i }}">MOSTRAR DESCRICAO</ion-button>
            <br><br>
            <ion-button id="botaolista" (click)="removerVideo(i)">APAGAR VÍDEO</ion-button>
          </ion-buttons>
      </span>
    </ion-item>
  </div>
  <div>
    <br>
    <span>
      <H1>Adicionar Vídeo</H1>
      <ion-fab slot="fixed" horizontal="start">
        <ion-fab-button routerLink="/cadastro">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </span>
  </div>
  
</ion-content>

